<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.joshkergan.giftr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_res"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PeopleActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.joshkergan.github.io"
                    android:pathPrefix="/Giftr"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PersonActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".people.AddPersonActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity android:name=".ItemsActivityStub" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".items.ItemActivity" />
        <activity android:name=".items.AddItemActivity" />
        <activity android:name=".ContactImportActivity" />
            android:theme="@style/AppTheme"/>
        <activity android:name=".items.IndividualItemActivity"/>
    </application>

</manifest>
